@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #272727;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

/* Visual inicial */
.container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 100px;
}

.texto-header{
    margin-top: -44px;
}

.texto-header h2 {
    font-weight: 300;
    font-size: 25px;
}

.redes-social {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 22px;
    
}

.redes-social img {
    width: 35px;
    height: 35px;
}

.seta-rolagem {
    padding-top: 76px;
}

/* Sobre */
.container-sobre {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    padding: 0px 100px;
}
.apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.titulo-apresentacao {
    color: #2C47C7;
    margin-bottom: 56px;
    justify-content: center;
}

.texto-apresentacao {
    font-size: 18px;
    width: 628px;
    text-align: justify;
}
